<!DOCTYPE html>
<html>
    <head>
        <title>GymBro</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="/static/index.js"></script>
    </head>
    <body>
        <div id="main-interface">
            <h2>GymBro - Your Trusted Trainer</h2>
            <a href="/dashboard" class="btn btn-outline-primary" id="menu" style="margin: 18px;">Home</a>
            <a href="/dashboard/workout" class="btn btn-outline-primary" id="workout" style="margin: 18px;">Workout</a>
            <a href="/dashboard/diet" class="btn btn-outline-primary" id="diet" style="margin: 12px;">Diet</a>
            <a href="/dashboard/profile" class="btn btn-outline-primary" id="profile" style="margin: 6px;">Profile</a>
            <a href="/dashboard/about" class="btn btn-outline-primary" id="about" style="margin: 18px;">About</a>
            <a href="/logout" class="btn btn-outline-danger" id="logout" style="margin: 6px;">Logout</a><br><br>
        </div>

        <br>



        <!-- About -->

        <div class="sections" id="about-view">
          <h3>About</h3>
          <h4 style="width: 45%;">GymBro is here to help you with your Fitness Ambitions.</h4>
          <h5></h5>
      </div>

      
  </body>
</html>